@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
    font-family: Museo;
    src: url('../fonts/Museo Cyrl 500.otf');
}

body {
}

.head {
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 230px;
    background-image: url(../img/head.svg);
    background-position: top;
    background-size: 100% auto;
}

.block {
    position: relative;
    background-image: url('../img/bg.jpg');
    background-repeat: repeat;
    background-size: 100% auto;
    /*height: 2200px;*/
    width: 100%;
    min-height: 100vh;
}

.logo {
    position: absolute;
    top: 40%;
    left: 4%;
    width: 194px;
}

.bilet {
    font-family: 'Museo', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 290px;
    margin-bottom: 40px;
    font-size: 72px;
}

.buy-tickets {
    padding-left: 150px;
    padding-right: 150px;
}

.forum {
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 100px;
}

.calendar {
    height: 54px;
    border-radius: 5px;
    border: 1px solid #C9C9C9;
    margin-bottom: 40px;
    font-family: 'Museo', sans-serif;
    font-size: 20px;
    color: #C9C9C9;
    background: url('../img/calendar.svg') no-repeat scroll;
    background-position: 95% 50%;
    padding-left: 20px;
}

.forum h2 {
    text-align: center;
}

.buyBilet {
    font-family: 'Museo', sans-serif;
    font-weight: 700;
}

.forumblock {
    margin: 20px 50px 50px 50px;
}

.forumblock h5 {
    font-family: 'Museo', sans-serif;
    font-size: 24px;
    color: #55A51C;
    margin-bottom: 20px;
}

.forumblock h1 {
    font-family: 'Museo', sans-serif;
    padding-top: 15px;
    font-size: 24px;
    color: #000000;
}

.tickets h2 {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.ticket {
    border-bottom: 1px solid #E5E5E5;
}

.button1 {
    background: #55A51C;
    width: 32px;
    height: 33px;
    border: none;
    color: #ffffff;
    font-size: 20px;
}

.button2 {
    border: 1px solid #E5E5E5;
    width: 58px;
    height: 33px;
    text-align: center;
    font-size: 32px;
}

.data h3 {
    font-family: 'Museo', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.primary-input {
    width: 100% !important;
}

.checklist p {
    font-size: 14px;
}

.check {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.agree {
    padding: 1em 1em 1em 0;
}

.content {
    display: none
}

.foot {
    background-repeat: no-repeat;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 423px;
    background-position: bottom;
    background-image: url(../img/footer.svg);
}

.forum2 {
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 100px;
}

.spasibo {
    font-family: 'Museo', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 40px;
    color: #55A51C;
    text-align: center;
}

.successful {
    margin-bottom: 40px;
}

.imges {
    margin-bottom: 69px;
}

.complete h3 {
    font-family: 'Museo', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-align: center;
}

.complete img {
    width: 100%;
    height: 100%;
}

.complete input {
    margin-top: 20px;
}

.forum3 {
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 100px;
}

.oops {
    font-family: 'Museo', sans-serif;
    font-style: normal;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #55A51C;
}

.kupit {
    margin-bottom: 60px;
}

.error {
    margin-bottom: 60px;
}

@media only screen and (max-width: 540px) {
    .buy-tickets {
        padding-left: 15px;
        padding-right: 15px;
    }

    .forumblock h1 {
        font-size: 20px !important;
    }

    .tickets h2 {
        font-size: 25px !important;
    }

    .sumCost {
        width: 100%;
    }

    .complete img {
        width: 70% !important;
        height: 100% !important;
    }

    .forum2 h3 {
        font-size: 20px !important;
        margin-bottom: 0;
    }

    .bilet {
        font-size: 50px;
        margin-top: 100px;
    }

    .forumblock {
        margin: 50px 0;
    }

    .logo {
        width: 75px;
        top: 25%;
    }

    .head {
        height: 70px;
    }

    .oops {
        font-size: 25px;
    }

    .complete h3 {
        font-size: 20px !important;
        margin-bottom: 0 !important;
    }
}
